<div class="main clearfix">
    <article class="content">
        <section>
            <h1>以下の内容でよろしいですか？</h1>
                <%= form_with(model: @user, url: users_path, local: true) do |form| %>
                <%= form.hidden_field :name %>
                <%= form.hidden_field :email %>

                <p>名前:<%= @user.name %></p>
                <p>メアド:<%= @user.email %></p>
                
                <%= image_tag(@user.image) %>
                <%= form.hidden_field :image_cache %>

                 <%= form.submit  "登録する" %>
                <% end %>

                <%= form_with(model: @user, url: new_user_path, local: true, method: 'get') do |form| %>
                <%= form.hidden_field :name %>
                <%= form.hidden_field :email %>
                <%= form.submit "もどる", name: 'back' %>
                <% end %>
        </section>
    </article>
</div>
