<!DOCTYPE html>
<html>
  <head>
    <title>とぅいったー</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
            <%= image_tag('z_logo.png') %>
            <p>とぅいったー</p>
      </header>

      <nav class="navi clearfix">
        <ul>
            <li><%= link_to 'TOPページ', top_path %></li>
            <li><%= link_to '呟き一覧', tweeets_path %></li>
            <li><%= link_to '新しく呟く', new_tweeet_path %></li>
              <% if logged_in? %>
                <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
                <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
              <% else %>
                <li><%= link_to 'ユーザー登録', new_user_path %></li>
                <li><%= link_to 'ログイン', new_session_path %></li>
              <% end %>
        </ul>
      </nav>
      
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>


      <%= yield %>

      <footer class="footer">
        <p>Copyright c 2018 千田 玄 for fullstack NTTコムチェオ1月期</p>
      </footer>
    </div>
  </body>
</html>
